#start-screen .intro,
#intermission-screen .intro,
#consent-screen .intro {
  /* consent-screen */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* Reduced gap */
  /* left align text */
  text-align: left;
}

#start-screen .start-actions,
#intermission-screen .start-actions,
#consent-screen .start-actions {
  /* consent-screen */
  text-align: center;
}

#start-screen .start-actions button,
#intermission-screen .start-actions button,
#consent-screen .start-actions button {
  /* consent-screen */
  margin-top: 0.5rem; /* mt-4 */
}

/* Specific styles for intermission/consent text */
#intermission-screen h2,
#consent-screen h2 {
  /* consent-screen */
  font-weight: 700; /* bolder */
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
}

#intermission-screen p,
#intermission-screen li,
#consent-screen p,
#consent-screen li {
  /* consent-screen */
  font-size: 1.1rem;
  font-weight: 500;
  color: #374151; /* gray-700 */
}

/* Style for the final consent agreement paragraph */
.consent-agreement {
  font-weight: 700 !important; /* Make it bold */
  font-style: italic;
  margin-top: 1rem;
}
